.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
/id_rsa
/id_rsa.pub
/ansible/inventory/vagrant_ansible_inventory
/ansible/ansible.cfg
/ansible/ansible/ansible.cfg
/ansible/playbook.retry
/ansible/roles/mrlesmithjr.digital-rebar
/.vagrant
